   <!-- hakukenttä -->
   <form method="POST" action="/searchcity">
        <div class="form-group">
        <label for="city">Search for any city!:</label>
        <input type="City" id="cityin" name="City" required>
        <input type="submit" value="Submit">
    </div>
      </form>